<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Manager_Add_Delete_Update</title>
</head>
<body>
<h1 align="center">Travel & Tourism</h1>
<center><img align="center" width="150px" height="145px" 
	src="../asset/manager.png"></center><br>
</body>
<h1 align="center">Manager List</h1>

<table border="1" align="center">
	<tr>
		<th>S/N</th>
		<th>Name</th>
		<th>Id</th>
		<th align="center">Address</th>
		<th>Phone</th>
		<th>NID Number</th>
		<th align="center" colspan="2">Action</th>
	</tr>
	<tr>
			<td>1</td>
			<td>Mahir Shahriar</td>
			<td>MAN2022</td>
			<td>House 0088, Block J, Wari, Dhaka-1203</td>
			<td>01935422331</td>
			<td>0739038158</td>
			<td><a href="Edit.html">Edit</td>
			<td><a href="Edit.html">Delete</td>
		</tr>
</table>
<h1 align="center"><a href="Dashboard.html">Home</h1>
</html>