<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bali Saver</title>
</head>
<body>
	<h1 align="center">Travel & Tourism</h1>
	<center><img align="center" width="300px" height="300px"  
			src="../asset/bali saver.jpg"></center><br>
			
<h1 align="center">4 Days Bali Saver</h1>
<h1 align="left">LAND PACKAGE PRICE:</h1><b><br>

BDT 8,999 Per adult Budget (Breakfast)<br>

BDT 10,700 Per adult 4* (Breakfast)<br>

BDT 10,999 Per adultBudget (Breakfast& Dinner)<br>

BDT 13,700 Per adult 4* (Breakfast& Dinner)<br>

<h1 align="left">CHILD PRICE:</h1>

BDT 7,500 per child 6-10 yr + Air ticket<br>

BDT 1000 per child 0-5 yr + Air ticket<br>
<h1 align="left">AIR TICKET:</h1>

Two-way air ticket BDT 28,000 per person depending on date & airlines
<h1 align="left">TOTAL COST:</h1>
BDT 37,000 per person
<h1 align="left">INCLUDED IN LAND PACKAGE:</h1>
– 3 Nights in budget/ 4* hotel<br>

– Everyday Breakfast<br>

– Full day car to explore Bali ( Tanah lot, Monkey forest, Rice Terraces ,Ubud , Uluwatu ) No entry fees included<br>

– Return Airport Transfer in AC vehicle<br>

– Bottle of water every day<br>

– Tea/coffee<br>

– Professional & licensed Tour guide / Driver<br>
<h1 align="left">NOT INCLUDED IN LAND PACKAGE:</h1>

– Any service not included in the inclusion section

<h1 align="left">NOTES:</h1>

# We have NO HIDDEN COST / CHARGE<br>

# All price subject to availability<br>

# All package for 2 person minimum<br>

# Any date available. (Please mention journey dates to check)<br>

# Price may increase during the blackout period ( Religious or national holidays, conference or fairs, world events )<br>

# Custom package available<br>
<h1 align="left">HOTELS:</h1>

Budget: Bali Summer Hotel / Manggar Indonesia Hotel<br>

4* : Bali kuta resort / Harris Hotel & Residences Riverview Kuta
<h1 align="left">ITINERARY:</h1>
<h1 align="left"><b>DAY 1:</b></h1>
On arrival at Bali airport you will be transferred by our representative to hotel. You are then free to spend the rest of day exploring Bali at your own pace. Overnight stay in Bali.<br>

<h1 align="left"><b>DAY 2:</b></h1>
Have breakfast then get ready to join Full day tour of the best of Bali.Visit Tanah Lot – our fascinating sea temple on a rock, Jatiluwih Rice Terraces – a UNESCO World Heritage Site, Uluwatu – Bali’s famous cliffside temple, Ubud village – the heart and soul of Balinese culture. After tour,  transfer to hotel. Overnight stay in Bali.<br>

<h1 align="left"><b>Day 3:</b></h1>
Have breakfast, the rest of the day is at your leisure. Overnight stay in Bali.
<h1 align="left"><b>Day 4:</b></h1>
Have breakfast then our representative will take you back to Bali airport for your departure to Dhaka with lots of great memories!!
<h1 align="left">CONTACT:</h1>

+8801707744400 or +8801708822199<br>

Address: Office # House 235, Block F, Road 2, 5th Floor, Bashundhara R/A, Dhaka-1229, Bangladesh
<h1 align="center"><a href="Dashboard.html">Home</h1>
</body>
</html>