<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Maldives</title>
</head>
<body>
<h1 align="center">Travel & Tourism</h1>
	<center><img align="center" width="300px" height="300px"  
			src="../asset/maldives.jpg"></center><br>

<h1 align="center">5 Days Maldives</h1>
<h1 align="left">LAND PACKAGE PRICE:</h1>

BDT: 13,999 per adult  (Budget)<br>

BDT: 16,000 per adult  (3*)<br>

BDT: 21,500 per adult  (4*)<br>

<h1 align="left">CHILD PRICE:</h1>

Child: BDT 9,500 ( Age 3-8 With bed )<br>

BDT 1000 ( Age 0-2 )<br>

(Please ask us for child air ticket price. Not included above)<br>
 
<h1 align="left">AIR TICKET:</h1><br>

Return Air ticket BDT 33,000 per person depending on time & availability<br>

<h1 align="left">TOTAL COST:</h1>

BDT 46,999 per person<br>

<h1 align="left">INCLUDED IN LAND PACKAGE:</h1>

– 3 Nights in Budget/3*/4* hotel<br>

– Full day Halong Bay Day Cruise with return transfers, Lunch& Kayaking 12 hr<br>

– Breakfast & Lunch as per itinerary<br>

– Full day Hanoi tour with transfers & Local Lunch SIC<br>

– Return airport transfer in AC vehicle SIC/PVT<br>

– Bottle of water everyday<br>

– Tea / coffee in hotels<br>

– Govt approved professional English speaking guide<br>

 
<h1 align="left">NOT INCLUDED IN LAND PACKAGE:</h1>

– Visa fee BDT 3500 per person (5-7 Working days)<br>

– Any other service not mentioned in inclusions<br>


<h1 align="left">NOTES:</h1>

# We have NO HIDDEN COST /CHARGE<br>

# All price subject to availability<br>

# All package for 2 person minimum<br>

# Any date available. (Please mention journey dates to check)<br>

# Price may increase during black out period ( Religious or national holidays, conference or fairs, world events )<br>

# Custom package available<br>

# 50% payment for booking if departure date 30+ days later. If not 100% advance required<br>

 
<h1 align="left">HOTELS USED:</h1>

Budget Thaison Palace<br>

3*  Angel Palace<br>

4* May De Ville or similar<br>
<h1 align="left">CONTACT:</h1>

+8801707744400 or +8801708822199<br>

Address: Office # House 235, Block F, Road 2, 5th Floor, Bashundhara R/A, Dhaka-1229, Bangladesh
<h1 align="center"><a href="Dashboard.html">Home</h1>
</body>
</html>
