<html>
	<head>
		<title> Dashboard </title>
	</head>
	<body>
		<table align="center" border="2">
			<tr>
				<td align="center" colspan="3"><h1>Travel & Tourism</h1></td>
			</tr>
			<tr height = "625px">

				<td align="center" width="10%"> <b>Menu</b><br>
					<a href="add_delete_update_customer.php">Add, Delete, Update Customer</a><br>
					<a href="add_delete_update_manager.html">Add, Delete, Update Manager</a><br>
					<a href="add_delete_update_staff.php">Add, Delete, Update Staff</a><br>
					<a href="employee_attendance.php">Employee Attendance</a><br>
					<a href="booking.php">Booking Reports</a><br>
					<a href="Tour_Schedules.html">Tour Schedules</a><br>
					<a href="customer_repo_reviews.html">Customer Reports & Reviews</a><br>
					<a href="Post_message.php">Post a message</a><br>
					<a href="upload_notice.php">Upload a notice</a><br>
					<a href="news_ads.php">News & Ads</a><br>
				</td>
				<td align="center" width="10%">
					<img src="../asset/t&t.png">
					<p><b>Welcome to Travel & Tourism</b></p>
				</td>
				<td align="center" width="10%">
					<b></b><br>
				</td>
			</tr>
			<tr>
				<td align="center"><a href="../controller/logout.php">Logout</a> </td>
			</tr>
				<tr>

				<td colspan="3" align="center"><h3>Copyright 2022 by Travel & Tourism | All rights reserved</h3></td>
			</tr>
		</table>
	</body>
</html>