<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sikkim</title>
</head>
<body>
<h1 align="center">Travel & Tourism</h1>
	<center><img align="center" width="300px" height="300px"  
			src="../asset/sikkim.jpg"></center><br>
<h1 align="center">4 Days Maldives</h1>
<h1 align="lunch">PACKAGE PRICE:</h1>

BDT 22,000 Per person Budget<br>

BDT 24,500 Per person 3*<br>

BDT 29,500 Per person 4*<br>

Child BDT 21499 (Age 4-10)<br>

Child BDT 1000 (Age 0-3)<br>

 

<h1 align="lunch">INCLUDED:</h1>

– 2Nights Cebu Budget / 3 / 4 Star hotels<br>

– 2Nights Manila Budget / 3 / 4 Star hotels<br>

– Return airport transfer<br>

– Tagaytay City and Lemery Castle Full Day Tour from Manila with transfers & entry SIC<br>

– Full day tour of Bohol from Cebu with Loboc river cruise, lunch buffet & transfers SIC<br>

– Everyday bottle of water<br>

– Tea / coffee<br>

– Professional English speaking tour guide / driver<br>

– Service charge<br>

 

<h1 align="lunch">NOT INCLUDED:</h1>

–Return Air ticket BDT 36,000 Per person (depending on date & airline) + Domestic flight  BDT 10,000<br>

–Visa: BDT 5,000 per person<br>

 <h1 align="lunch">NOTE:</h1>

# We have NO HIDDEN COST / CHARGE<br>

# All price subject to availability<br>

# All package for 2 person minimum<br>

# Any date available. (Please mention journey dates to check)<br>

# Extra nights BDT 2,500 Per person per night<br>

# Custom package available<br>
<h1 align="left">CONTACT:</h1>

+8801707744400 or +8801708822199<br>

Address: Office # House 235, Block F, Road 2, 5th Floor, Bashundhara R/A, Dhaka-1229, Bangladesh
</body>
</html>